mixin location({localAddress, globalAddress, title} = {})
    .location
        .location__map.js-location__map(data-address=`${localAddress} ${globalAddress}`)
        .location__footer
            .location__info
                .location__title=title
                .location__address
                    .location__address-part=localAddress
                    .location__address-part=globalAddress
            .location__buttons
                .location__button.location__my-location
                .location__button.location__pin
